<hr><div class="divs">

<div class="list-div" >
  <h2 class="text-center ">My Heroes</h2>

  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge"></span> {{hero.hero_name}}        <!--{{hero.id}}  -->
      </a>
      <button type="button" class="delete" title="delete hero"
        (click)="delete(hero)">x</button>
    </li>
  </ul>
</div>
 



<div class="adding-details">

  <div class="div1">
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />
  
    <label for="real_name">Hero real name: </label>
    <input id="real_name" #realName />
  
    <label for="age">Hero age: </label>
    <input id="age" #age />
  
    <label for="super_powers">Superpowers: </label>
    <input id="super_powers" #superPowers />
  </div>
  
 <div class="div2">
  <label for="power_origins">Power Origins: </label>
  <input id="power_origins" #powerOrigins />

  <label for="weakness">Hero weakness: </label>
  <input id="weakness" #weakness />

  <label for="new-hero">Hero Nationality: </label>
  <input id="nationality" #nationality />

  <div> <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(heroName.value, realName.value, age.value, superPowers.value, powerOrigins.value, weakness.value, nationality.value ); heroName.value=''">
      Add hero
    </button></div>
</div>
</div>
</div>

 



